<!DOCTYPE html>
<html>
<title>Etf </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>
  <div class="w3-container">
    <h2></h2>
    <p></p>
    <div class="w3-clear"></div>
  <h2 class = "w3-green w3-center"><%= @type %> Electronically Traded Funds</h2>
  <p></p>

  <ul class="w3-ul w3-hoverable" >
    <% @etfs.each do |e|%>

    <li class="w3-hover-green"><a href="/etf/<%=e.slug%>"> <%= e.name%> </a></li>
    <br>
        <% end %>
  </ul>
</div>

</body>
</html>
